<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="histDao">
	
	<insert id="insertHist">
		INSERT INTO CST_HIST(REG_DATE, DATA) VALUES (TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS'), #{data})
	</insert>

</mapper>
